---
import "../styles/global.css";
import { HeroAndServices } from "@/components/HeroAndServices";
import { ContactSection } from "@/components/ContactSection";
import { Footer } from "@/components/Footer";
import { BUSINESS_NAME } from "@/lib/consts";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={BUSINESS_NAME} />
    <title>{BUSINESS_NAME}</title>
  </head>
  <body id="top">
    <HeroAndServices />
    <ContactSection />
    <Footer />
  </body>
</html>
